@model PeroShopWeb.Models.ProductosViewModel
<body>
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            @{
                int idColor = 0;
                int idAlma = 0;
                foreach (var u in Model.ProductosInter)
                {
                    if (u.idproducto == ViewBag.ID)
                    {
                            <div class="col-lg-5 mb-30">
                                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner bg-light">
                                        <div class="carousel-item active">
                                            <img class="w-100 h-100" src="@u.RutaImagen" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 h-auto mb-30">
                                <div class="h-100 bg-light p-30">
                                    <h3>@ViewBag.NombreProducto</h3>
                                    <h3 class="font-weight-semi-bold mb-4">@u.PrecioVenta</h3>
                                    <p class="mb-4">
                                        @u.Caracteristicas
                                    </p>
                                    <div class="d-flex mb-4">
                                        <strong class="text-dark mr-3">Colores:</strong>
                                        <form>
                                            <div class="custom-control custom-radio custom-control-inline">
                                            <select id="comboboxColor" onchange="actualizarCombobox()">
                                                    @foreach (var f in Model.ProductosInter)
                                                {
                                                    if (f.idproducto == ViewBag.ID)
                                                    {
                                                        foreach (var c in Model.ProductoColors)
                                                        {
                                                            if (f.idcolor == c.ID)
                                                            {
                                                                    <option value="@c.Color">@c.Color</option>
                                                            }
                                                        }
                                                    }
                                                }
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    @if (ViewBag.Categoria == "Telefonos")
                                {
                                        <div class="d-flex mb-4">
                                            <strong class="text-dark mr-3">Almacenamientos:</strong>
                                            <form>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <select disabled id="comboboxAlma" onchange="actualizarCombobox()">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                }
                                    <div class="d-flex align-items-center mb-4 pt-2">
                                        <div class="input-group quantity mr-3" style="width: 130px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary px-3">
                                            <i class="fa fa-shopping-cart mr-1"></i> Add To
                                            Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        break;
                    }
                }
            }
            
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <form>
                                <label for="combobox1">Elige una opción principal:</label>
                                <select id="combobox1" onchange="actualizarCombobox()">
                                    <option value="Opción 1">Opción 1</option>
                                    <option value="Opción 2">Opción 2</option>
                                    <option value="Opción 3">Opción 3</option>
                                </select>
                            </form>

                            <form>
                                <label for="combobox2">Elige una subopción:</label>
                                <select id="combobox2">
                                    <!-- Las subopciones se cargarán aquí -->
                                </select>
                            </form>
                            <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                            <p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem tempor. Gubergren amet amet labore sadipscing clita clita diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum. Ea erat sed et diam takimata sed justo. Magna takimata justo et amet magna et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    <!-- Products Start -->
    <!-- Products End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
<script runat="server" async>
    var model = @ViewBag.json
    console.log('Hola');
</script>





















@* @model PeroShopWeb.Models.ProductosViewModel

<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="../Images/Products/Airpods1.jpeg" alt="Image" style="height: 500px">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <form asp-action="DetallesProductos" asp-controller="Productos" method="post">
        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>Nombre</h3>
                <h3 class="font-weight-semi-bold mb-4">$100 MXN</h3>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <a type="sumit" class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </a>
                            <input type="hidden" value="3" name="Cantidad" />
                            <input type="hidden" value="2" name="idproductointer" />
                                <input type="hidden" value="../Images/Products/Airpods1.jpeg" name="RutaImagen" />
                            <input type="hidden" value="Hola" name="Nombre" />
                        </div>
                    </div>
                    <button class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <!--<a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Html.DisplayFor(Model => Model.Caracteristicas)</a>-->
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <form>
                            <label for="combobox1">Elige una opción principal:</label>
                            <select id="combobox1" onchange="actualizarCombobox()">
                                <option value="Opción 1">Opción 1</option>
                                <option value="Opción 2">Opción 2</option>
                                <option value="Opción 3">Opción 3</option>
                            </select>
                        </form>

                        <form>
                            <label for="combobox2">Elige una subopción:</label>
                            <select id="combobox2">
                                <!-- Las subopciones se cargarán aquí -->
                            </select>
                        </form>
                        <h4 class="mb-3">Descripcion del producto</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function actualizarCombobox() {
        var seleccion = document.getElementById("combobox1").value;
        var combobox2 = document.getElementById("combobox2");

        // Limpia las opciones existentes
        combobox2.innerHTML = "";

        // Agrega nuevas opciones basadas en la selección del primer combobox
        if (seleccion === "Opción 1") {
            combobox2.options.add(new Option("Subopción 1.1", "1.1"));
            combobox2.options.add(new Option("Subopción 1.2", "1.2"));
        } else if (seleccion === "Opción 2") {
            combobox2.options.add(new Option("Subopción 2.1", "2.1"));
            combobox2.options.add(new Option("Subopción 2.2", "2.2"));
        } else if (seleccion === "Opción 3") {
            combobox2.options.add(new Option("Subopción 3.1", "3.1"));
            combobox2.options.add(new Option("Subopción 3.2", "3.2"));
        }
    }
</script> *@