 @model PeroShopWeb.Models.ProductosViewModel
@{
    Layout = "_LayoutAdmin2";
}

<body>
    <div class="row g-3">
        <div class="col-sm-6">
            <h1>Producto: @ViewBag.NombreProducto</h1>
        </div>
        <div class="col-sm-6">
            <h1>Categoria: @ViewBag.Categoria</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Color</th>
                    @if (ViewBag.Categoria == "Telefonos")
                    {
                        <th scope="col">Almacenamiento</th>
                    }
                    <th scope="col">Acciones</th>
                    <th scope="col"><a asp-action="AgregaCaracteristicas" asp-controller="Admin" class="btn btn-primary text-white">Nuevo Producto</a></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var u in Model.ProductosInter)
                {
                    if (u.idproducto == ViewBag.Id)
                    {
                        <tr>
                            <td>@u.Stock</td>
                            @foreach (var c in Model.ProductoColors)
                            {
                                if (c.ID == u.idcolor)
                                {
                                    <td>@c.Color</td>
                                }
                            }
                            @if (ViewBag.Categoria == "Telefonos")
                            {
                                @foreach (var a in Model.productoAlmacenamientos)
                                {
                                    if (a.ID == u.idalmacenamiento)
                                    {
                                        <td>@a.Almacenamineto</td>
                                    }
                                }
                            }
                            <td>
                                <a id="deleteForm" class="btn btn-danger text-white" asp-action="EliminarCaracteristicas" asp-controller="Admin" asp-route-id="@u.ID" onclick="confirmarEliminacion(@u.ID)">>Borrar</a>
                                <a class="btn btn-primary text-white" asp-action="EditarCaracteristicas" asp-controller="Admin" asp-route-id="@u.ID">Editar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Formulario oculto para eliminar -->
    
</body>
</html>
