@{
    Layout = "_LayoutAdmin2";
}

<body>
    <div class="row g-3">
        <div class="col-sm-6">
            <h1>Producto: @ViewBag.NombreProducto</h1>
        </div>
        <div class="col-sm-6">
            <h1>Categoria: @ViewBag.Categoria</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Color </th>
                    <th scope="col">Almacenamiento</th>
                    <th scope="col">Editar</th>
                    <th scope="col"><a asp-action="AgregaCaracteristicas" asp-controller="Admin" class="btn btn-primary text-white">Nuevo Producto</a></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @* @foreach (var u in Model)
                {
                    <tr>
                        <td>@u.</td>
                        <td>@u.Nombre</td>
                        <td>@u.Categoria</td>
                        <td>
                        <td>
                            <a class="btn btn-primary text-white" asp-action="" asp-route-id="@u.ID" asp-route-accion="Editar">Agregar Productos</a>
                        </td>
                        </td>
                    </tr>
                } *@
            </tbody>
        </table>
    </div>
</body>