@model IEnumerable<PeroShopWeb.Models.CarritoVenta>
@{
    Layout = "_LayoutAdmin2";
}

<body>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Detalle del envio</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @{
                    foreach (var u in Model)
                    {
                        if (u.Envio != "Tu paquete a sido entregado")
                        {
                            <tr>
                                <td>@u.Nombre</td>
                                <td>@u.Cantidad</td>
                                <td>(@u.Total + @u.IVA)</td>
                                <td>@u.Fecha</td>
                                <td>@u.Envio</td>
                                <td>
                                <td>
                                    <a class="btn btn-primary text-white" asp-action="DetalleVenta" asp-route-id="@u.idusuario" asp-route-idord="@u.IDOrden" asp-route-envio="@u.Envio">Editar</a>
                                </td>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>